<!-- Traducció de https://github.com/chesterhow/tale/blob/master/_includes/navigation.html -->
<nav class="nav">
  <div class="nav-container">
    <img src="/assets/f-violi-e-xs.png" style="height: 2em; position: absolute; left: -2em;" >
    <img src="/assets/f-violi-d-xs.png" style="height: 2em; position: absolute; right: -2em;" >
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Entrades</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Temes</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Sobre mi</a></li>
    </ul>

  </div>
</nav>